@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap");

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #4b4b4b;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
button {
  transition: 0.2s;
}
button:hover {
  background-color: #4826B9;
  font-size: 17px;
}